$mainColor: whitesmoke;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(237, 236, 236);
    height: 100vh;
    position: relative;
}

.cardContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 350px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    overflow: hidden;

    .cardImg {
        width: 100%;
        height: 200px;
        background-color: $mainColor;
    }

    .content {
        padding: 30px;

    }

    h3,
    h4,
    p {
        background-color: $mainColor;
        height: 10px;
    }

    p {
        margin-top: 10px;
    }

    h3 {
        margin-bottom: 40px;
    }

    .authorWrapper {
        display: flex;
        align-items: center;
        margin-top: 30px;

        .authorImg {
            flex: 0 0 auto;
            width: 40px;
            height: 40px;
            background: $mainColor;
            border-radius: 50%;
        }

        .authorInfo {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-left: 10px;
        }
    }
}

.backgroundWave {
    background-image: linear-gradient(to right, $mainColor 0%, rgba(157, 155, 155, 0.1) 10%, $mainColor 20%);
    background-size: 150% 100%;
    animation: wave 1s linear infinite;
}

@keyframes wave {
    0% {
        background-position: 50% 0;
    }

    100% {
        background-position: -250% 0;
    }
}